
<div class="container-fluid ombra-box">
  <div class="row">
    <img src="assets/icon-key.png" class="img-circle-center" alt="Random Name">
  </div>

  <div class="row" style="text-align:center">
    <div class="col-12">
      <h2 class="title-custom"> Sign-in page </h2>

      <form [formGroup]="signInForm" (ngSubmit)="signIn()">

        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <span
              *ngIf="!signInForm.get('userData.username').valid && signInForm.get('userData.username').touched"
              class="help-block">
              <span *ngIf="signInForm.get('userData.username').errors['required']">This username is required!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control">
            <span
              *ngIf="!signInForm.get('userData.password').valid && signInForm.get('userData.password').touched"
              class="help-block">
              <span *ngIf="signInForm.get('userData.password').errors['required']">This password is required!</span>
            </span>
          </div>
        </div>
        <button class="btn btn-primary button-rounded" type="submit" [disabled]="!signInForm.valid">Sign-in</button>
        <br>
        <span
          *ngIf="!signInForm.valid && signInForm.touched"
          class="help-block">Please enter all the required fields!</span>
      </form>

      <br>

      <button class="btn btn-primary button-rounded" type="button" (click)="signUp()">Sign-up</button>
    </div>

  </div>
</div>
