.container-fluid{
  text-align: center;
  border: 2px solid dodgerblue;
  border-radius: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 5%;
  max-width: 90%;
  background-color: whitesmoke;


}

.button-rounded {border-radius: 4px;}



input.ng-invalid.ng-touched, select.ng-valid.ng-touched,textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched, textarea.ng-valid.ng-touched {
  border: 1px solid green;
}
